@font-face {
    font-family: 'MyFont-Regular';
    src: url('/fonts/JetBrainsMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'JetBrains Mono', 'monospace';
}
